.error {
  background-color: #f8d7da;
  color: #df4759;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
}

.inline_input {
  width: 145px;
}

.save_edit_btn {
  color: #4b830d;
}

.delete_btn {
  color: #e10d05;
}
